{% extends 'baseadmin.html' %}

{% load static %}

{% block title %}

    <title>Organizer Tournaments</title>

{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="card bootstrap-table">
            <div class="card-body table-full-width">
                <div class="toolbar">
                    <h4>{{ orguser.username }} Tournaments</h4>
                </div>
                        {% for tournament in tournaments %}
                        <div class="column">
                            <div class="card">
                                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                                <div class="container">
                                    <h2>{{ tournament.T_name }}</h2>
                                    <p class="title">Start Date: {{ tournament.Start_date }}</p>
                                    <p>End Date: {{ tournament.End_date }}</p>
                                    <p>No of Matches: {{ tournament.no_of_matches }}</p>
                                    <p>No of Teams: {{ tournament.no_of_teams }}</p>
                                    <form id="TypeValidation" class="form-horizontal" action="{% url 'teamsintournamentad' tournament.id %}"
                                        enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <p><button class="button">Teams</button></p>
                                    </form>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">

var $table = $('#bootstrap-table');

        function operateFormatter(value, row, index) {
            return [

                '<a rel="tooltip" title="Edit" class="btn btn-link btn-warning table-action edit" href="javascript:void(0)">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="btn btn-link btn-danger table-action remove" href="javascript:void(0)">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }

        $().ready(function() {
        window.operateEvents = {
            'click .view': function(e, value, row, index) {
                info = JSON.stringify(row);

                swal('You click view icon, row: ', info);
                console.log(info);
            },
            'click .edit': function(e, value, row, index) {
                info = JSON.stringify(row);

                swal('You click edit icon, row: ', info);
                console.log(info);
            },
            'click .remove': function(e, value, row, index) {
                console.log(row);
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                });
            }
        };

        $table.bootstrapTable({
            toolbar: ".toolbar",





            pagination: true,

            pageSize: 8,

            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function(pageFrom, pageTo, totalRows) {
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function(pageNumber) {
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function() {
            $table.bootstrapTable('resetView');
        });


    });

</script>

{% endblock %}

