{% extends 'baseadmin.html' %}

{% load static %}

{% block title %}

<title>Teams In Tournament</title>

{% endblock %}

{% block content %}

<div class="section-image" data-image="{% static 'assets/img/bg5.jpg' %}" ;>
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
            <h4 class="card-title">Players In the Selected Team</h4>
        <div class="row">
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Captain Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.Captain_name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 1 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_1}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 2 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_2}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 3 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_3}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 4 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_4}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 5 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_5}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 6 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_6}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 7 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_7}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 8 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_8}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 9 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_9}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="card ">
                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                <div class="card-header">
                    <h4 class="card-title">Player 10 Name</h4>
                </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{team.team_player_10}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}


{% endblock %}