{% extends 'baseadmin.html' %}

{% load static %}

{% block title %}

<title>Teams In Tournament</title>

{% endblock %}

{% block content %}

<div class="section-image" data-image="{% static 'assets/img/bg5.jpg' %}" ;>
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
        <div class="row">
            {% for team in teams %}
            <div class="column">
                            <div class="card">
                                <img src="{{tournament.image.url}}" alt="John" style="width:100%;height:50%">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Team Captain Name :</label>
                                        <label>{{team.Captain_name}}</label>
                                    </div>
                                </div>
                            </div>
                                    <form id="TypeValidation" class="form-horizontal" action="{% url 'playersinteam' team.id %}"
                                        enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <p><button class="button">Players</button></p>
                                    </form>

                              </div>
                            </div>
                        {% endfor %}
                          </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}


{% endblock %}